.schedule-card {
  &.schedule-with-mark-card {
    padding: 5px;
    background-color: #42e94812;
    flex: 1;
    max-width: 360px;
    min-width: 180px;
    .ant-card-body {
      padding: 0 !important;
    }
  }

  .attendance-status {
    position: absolute;
    bottom: -8px;
    right: -8px;

    .anticon {
      font-size: 30pt;
      opacity: 0.4;
      z-index: 0;

      &.anticon-check-circle > svg {
        fill: #389e0d;
      }

      &.anticon-warning > svg {
        fill: orangered;
      }
    }
  }
}

.schedule-in-drawer {
  .dashed-list {
    .absent_off-value > * {
      color: #c41d7f;
    }
    .absent_on-value > * {
      color: orangered;
    }
    .attended-value > * {
      color: #389e0d;
    }
    .in_process-value {
      color: #389e0d;
    }
    .waiting-value {
      color: #0958d9;
    }
  }
}
