.subjects__card-wrapper {
  min-height: 300px;
  align-items: stretch;

  .ant-empty {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
    margin: auto;
  }

  a.subject-link {
    width: 400px;
    height: auto;
    // flex-grow: 1;
    // flex-shrink: 0;
    @container (max-width: 629px) {
      width: 100%;
    }

    @container (min-width: 630px) {
      width: calc(50% - 14px);
    }

    @container (min-width: 930px) {
      width: calc(33% - 14px);
    }

    .subjects__card {
      height: 100%;
      width: 100%;
      transition: box-shadow 0.4s ease;
      &:hover {
        box-shadow:
          0px 6px 16px rgba(0, 0, 0, 0.08),
          0px 3px 6px -4px rgba(0, 0, 0, 0.12),
          0px 9px 28px 8px rgba(0, 0, 0, 0.05);
      }

      h4 {
        margin: 0;
      }

      .ant-card-body {
        padding: 16px;
        height: 100%;

        & > .ant-flex {
          justify-content: space-between;
          height: 100%;
        }
      }
    }
  }
}
