.ant-drawer {
  .task-card-skeleton {
    .ant-card-body {
      padding: 0 !important;
    }
  }
}

.task-in-drawer {
  &__card {
    box-shadow: 0px 2px 2px 0px #00000008;

    & > .ant-card-body {
      padding: 12px;
      padding-bottom: 16px;
    }

    .ant-divider {
      margin: 16px 0;
    }

    &.card-2,
    &.card-3 {
      .ant-divider {
        margin: 12px 0 4px 0;
      }
    }

    &.card-3 {
      .ant-upload-wrapper {
        text-align: center;
      }
    }

    .task-card {
      border: none;
      box-shadow: none;

      .details-btn {
        display: none;
      }

      & > .ant-card-body {
        padding: 0 !important;
      }
    }

    .task-in-drawer__score {
      & > div.ant-flex {
        &:not(:last-child) {
          border-right: 1px solid #f0f0f0;
        }
      }

      strong {
        font-size: 12px;
      }
    }

    .ant-list {
      .ant-list-item {
        align-items: flex-end;
        padding: 8px 0 !important;

        .ant-btn {
          padding: 0 7px;
        }
      }
      .ant-list-item-meta {
        align-items: center;

        * {
          font-size: 12px !important;
        }

        &-avatar {
          margin-inline-end: 8px !important;
          max-height: 32px;
          max-width: 32px;

          svg {
            width: 100%;
            height: 100%;
          }

          img {
            width: 100%;
          }
        }
      }
    }
  }
}

.dark-theme {
  .task-in-drawer {
    &__card {
      strong {
        color: #fff !important;
      }
      span:not(.ant-tag) {
        color: #ffffffa6 !important;
      }
      .file-list {
        button > span,
        a > span {
          color: inherit !important;
        }
      }
    }
  }
}
