#root:has(.subject_details_page) {
  .dashboard__body--box {
    background-color: #f5f5f5;

    .details-header {
      a {
        display: flex;
        align-items: center;
      }

      .subject-name {
        min-width: 450px;
        max-width: 450px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
    }

    .ant-segmented {
      background-color: #19330014;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 16px;

      .ant-segmented-item {
        border-radius: 16px;

        .ant-segmented-item-label {
          display: flex;
          align-items: center;
          padding: 3px 11px;

          .ant-segmented-item-icon {
            height: 25px;
          }
        }
      }
    }

    .main-content {
      background-color: #fff;
      width: 100%;
      border-radius: 24px;
      padding: 24px;

      div:has(> video) {
        width: 100% !important;
        aspect-ratio: 16 / 9;
        height: auto !important;
        border-radius: 24px;
        overflow: hidden;
      }
    }

    .chat-container {
      width: 100%;
      max-width: 800px;

      .chat-box {
        width: 100%;

        .message-container {
          gap: 8px;
          align-items: flex-end;
          max-width: 90%;
          width: fit-content;

          .ant-avatar {
            min-width: 32px;
            aspect-ratio: 1 / 1;
            height: auto !important;
            img {
              object-fit: cover;
            }
          }

          .chat-message {
            border-radius: 16px;
            position: relative;
            background-color: #f5f5f5;
            width: 100%;
            font-size: 16px;
            line-height: 24px;
            font-weight: 400;

            .message-text {
              // Telegram-like greenish color
              color: #000;
              padding: 10px 40px 20px 12px; // extra space for time
              font-size: 14px;
              line-height: 1.4;
              max-width: 100%;
              word-wrap: break-word;
            }

            .message-time {
              position: absolute;
              bottom: 1px;
              right: 12px;
              font-size: 12px;
              line-height: 20px;
              color: #555;
              opacity: 0.7;
            }
          }
          &:not(.user-message) {
            margin-right: auto;
          }

          &.user-message {
            margin-left: auto;

            .chat-message {
              background-color: #e6f4ff;
            }
          }
        }
      }
    }
  }

  .dashboard__navbar {
    display: none !important;
  }
  .topics-container {
    min-width: 500px;
    background-color: #fff;
    height: calc(100dvh - 120px);
    border-radius: 24px;
    position: sticky;
    top: 0;

    .topics-title {
      padding: 24px 22px;
      h3 {
        color: #00000073;
      }
    }

    .ant-progress {
      max-width: 200px;
    }
  }
  .topics-body {
    padding: 24px 0;
    height: 100%;
    overflow-y: auto;

    .topic-item {
      padding: 8px 24px;
      &.active {
        background-color: #9fe870;
      }
    }
  }
}

.subject__tabs {
  .ant-tabs-nav {
    margin: 0;

    .ant-tabs-tab {
      &:not(.ant-tabs-tab-active) {
        background-color: transparent;
      }
    }
  }
  .ant-tabs-content-holder {
    background-color: #fff;
    border-radius: 0 8px 8px 8px;
    padding: 24px 16px;

    .ant-segmented {
      width: fit-content;
    }

    .ant-table {
      overflow-x: auto;

      table {
        min-width: 250px;
      }
    }
  }
}

.dashboard__body {
  @container (max-width: 670px) {
    .subject-res_num_files-column {
      display: none;
    }
  }

  @container (max-width: 430px) {
    .subject__tabs {
      .ant-tabs-content-holder {
        padding: 12px 8px;

        .task-card {
          min-width: 200px !important;
        }
      }
    }
  }
}
