.tasks {
  min-width: 335px !important;

  & > .ant-card-body {
    padding: 16px 6px 0 6px !important;
  }

  .tasks__header {
    padding: 0 10px;
  }

  .tasks__body {
    flex-grow: 1;
    min-height: 100px;
    overflow-y: auto;
    padding: 8px 10px;

    .task-card {
      padding: 12px;
    }

    .ant-card-body {
      padding: 0px !important;
    }
  }
}
